extends ../layout

block content
  <!-- RASPORED -->         
  #scheduler_here.dhx_cal_container(style='width:100%; height:90%;')
    .dhx_cal_navline
      .dhx_cal_prev_button(role='button', aria-label='Previous') 
      .dhx_cal_next_button(role='button', aria-label='Next') 
      .dhx_cal_today_button
      .dhx_cal_date
      .dhx_cal_tab(name='day_tab')
      .dhx_cal_tab(name='week_tab')
      .dhx_cal_tab(name='month_tab')
    .dhx_cal_header
    .dhx_cal_data
  script.
    scheduler.config.xml_date="%Y-%m-%d %H:%i";
    scheduler.config.first_hour = 6;
    scheduler.config.last_hour = 24;
    scheduler.templates.xml_date = function(value){ return new Date(value); };
    scheduler.config.details_on_dblclick = true;
    scheduler.config.details_on_create = true;

    var color = JSON.parse('!{JSON.stringify(categories)}');

    scheduler.config.lightbox.sections=[
        {name:"description", height:200, map_to:"text", type:"textarea", focus:true},
        {name:"time", height:72, type:"time", map_to:"auto"},
        {name:"Category", height:20, type:"select", options: color, map_to:"color"}
    ];

    scheduler.init('scheduler_here',new Date(),"week");

    // disable raspored events
    scheduler.attachEvent('onBeforeDrag', readonly_check);
    scheduler.attachEvent('onClick', readonly_check);
    scheduler.attachEvent('onDblClick', readonly_check);

    function readonly_check(id){
        var ev = scheduler.getEvent(id);
        if(ev) return (ev.uneditable?false:true);
        else return true;
    }

    scheduler.setLoadMode("week");
    scheduler.load("/schedule/data", "json");

    var dp = new dataProcessor("/schedule/data");
    dp.init(scheduler);
    dp.setTransactionMode("POST", false);