doctype html
html
  head
    title FeritPlanner

    <!-- Font Awesome -->
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    <!-- jQuery -->
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js')
    <!-- Bootstrap -->
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')
    <!-- Bootstrap datepicker -->
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js')
    <!-- Scheduler -->
    link(rel='stylesheet', href='/codebase/dhtmlxscheduler_material.css' type='text/css')
    script(src='/codebase/dhtmlxscheduler.js')
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    <!-- NAVIGATION -->
    nav.navbar.navbar-expand-md.navbar-dark.bg-dark
      a.navbar-brand(href='/schedule') FP
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExampleDefault', aria-controls='navbarsExampleDefault', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarsExampleDefault.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href='/schedule')
              | My schedule
          li.nav-item.active
            a.nav-link(href='/todo').
                To-do
          li.nav-item.active
            a.nav-link(href='/groups').
                Group events
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link= username
          li.nav-item.active
            a.nav-link(href='/users/logout')
              | Odjava
    block content
    p