html, body{
  margin:0px;
  padding:0px;
  height:100%;
  overflow:hidden;
}
body{
  background-color:#EFEFEF;
}
td.completed{
  text-decoration: line-through;
}
button.btn-icon{
  background:none!important;
  border:none; 
  padding:0!important;
}