extends ../layout

block content
  .main.container
    .row
      .col-md-12
        h1.display-4.m-b-2 Edit group event
        p
    form.form-horizontal(method='POST' action='/groups/#{event._id}')
      input(type='hidden',value='PUT',name='_method')
      .row
        .col-md-6.col-md-offset-3
          .form-group
            label(for='text') Group event title:
            input#text.form-control(type='text', placeholder='Amazing group event' name='text' required value=event.text)
          .row
            .col-md-6.form-group
              label(for='start_date') Start time:
              #start_date.input-group.date(data-target-input='nearest')
                input.form-control.datetimepicker-input(type='text', data-target='#start_date' name='start_date' required value=moment(event.start_date).format('MM/DD/YYYY LT'))
                .input-group-append(data-target='#start_date', data-toggle='datetimepicker')
                  .input-group-text
                    i.fa.fa-calendar
            .col-md-6.form-group
              label(for='end_date') End time:
              #end_date.input-group.date(data-target-input='nearest')
                input.form-control.datetimepicker-input(type='text', data-target='#end_date' name='end_date' required value=moment(event.end_date).format('MM/DD/YYYY LT'))
                .input-group-append(data-target='#end_date', data-toggle='datetimepicker')
                  .input-group-text
                    i.fa.fa-calendar
          .form-group
            label(for='category') Category:
            select#category.form-control(name='color')
              option(value='#2979FF') Appointment
              option(value='#4CAF50') Fun
              option(value='#FFCA28') Work
              option(value='#F44336') Study
              option(value='#009688') Other
          button.btn.btn-primary(type='submit') Save changes
          a.mx-2.btn.btn-secondary(href='/groups') Cancel
        .col-md-6.col-md-offset-3
          .form-group
            label Members:
            #added-members
            - each member, i in event.members
              if member.accepted==true
                .alert.alert-success.alert-dismissible.fade.show(role='alert')= member.email
                  button.close(type='button', data-dismiss='alert', aria-label='Close' onclick="closed('#{member.email}')")
                    span(aria-hidden='true') ×
              else
                .alert.alert-dark.alert-dismissible.fade.show(role='alert')= member.email
                  button.close(type='button', data-dismiss='alert', aria-label='Close' onclick="closed('#{member.email}')")
                    span(aria-hidden='true') ×
            .input-group
                input#email.form-control(type='text', placeholder="Enter user e-mail")
                input#members(name='members' hidden)
                .input-group-append
                  button.btn.btn-outline-secondary(type='button' onclick='checkUser()') Add user
            p
            if error_msg!=''
              #no-members-alert.alert.alert-danger.alert-dismissible.fade.show(role='alert')= error_msg
                button.close(type='button', data-dismiss='alert', aria-label='Close')
                  span(aria-hidden='true') ×
  script(type='text/javascript').
    var members=[];
    $(function () {
      var event = JSON.parse('!{JSON.stringify(event)}');

      //DatePickers
      $('#start_date').datetimepicker();
      $('#end_date').datetimepicker({
        useCurrent: false
      });
      $("#start_date").on("change.datetimepicker", function (e) {
        $('#end_date').datetimepicker('minDate', e.date);
      });
      $("#end_date").on("change.datetimepicker", function (e) {
        $('#start_date').datetimepicker('maxDate', e.date);
      });
      //Email input
      setTimeout(function(){ $('#no-members-alert').alert('close') },2000);
      members = event.members;
      $('#members').val(JSON.stringify(members));
      $('#email').on("input", function(){
        $('#email').css("border", "1px solid #ced4da");
      });
      //Category box
      $("#category").val(event.color);

    });
    //Member e-mail validation
    function checkUser(){
      var email = $('#email').val();
      $.ajax({
          type: "GET",
          url: "/groups/check",
          data: {email:email}
      }).done(function(valid) {
        if(valid){//Member validated
          if(members.map(function(member){return member.email}).indexOf(email)==-1){
            members.push({email: email});
            $('#members').val(JSON.stringify(members));
            $("#added-members").append(getEmailHTML(email));
            $("#email").val('');
          }
          else
            $('#email').css("border", "1px solid red");
        }
        else{//No such user
          $('#email').css("border", "1px solid red");
        }
      });
    }
    function getEmailHTML(email){
      var html='<div class="alert alert-dark alert-dismissible fade show" role="alert">'+email;
      html+='<button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="closed(\''+email+'\');">';
      html+='<span aria-hidden="true">&times;</span>';
      html+='</button>';
      html+='</div>';
      return html;
    }
    function closed(email){
      var index = members.findIndex(function(member){
           return member.email == email
      });
      members.splice(index, 1);
      $('#members').val(JSON.stringify(members));
    }
  
