<!-- Modal -->
#infoModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='infoModal', aria-hidden='true')
  .modal-dialog.modal-dialog-centered(role='document')
    .modal-content
        .modal-header.bg-primary.text-white
            h5.modal-title Info
        .modal-body
            .row
                .col-md-12
                    .form-group
                        label(for='text') 
                            strong Group event title
                        input#text.form-control(type='text', placeholder='Amazing group event' name='text' disabled value=event.text)
                    .row
                        .col-md-6.form-group
                            label(for='start_date') 
                                strong Start time
                            #start_date.input-group.date(data-target-input='nearest')
                                input.form-control.datetimepicker-input(type='text', data-target='#start_date' name='start_date' disabled value=moment(event.start_date).format('MM/DD/YYYY LT'))
                                .input-group-append(data-target='#start_date', data-toggle='datetimepicker')
                                .input-group-text
                                    i.fa.fa-calendar
                        .col-md-6.form-group
                            label(for='end_date') 
                                strong End time
                            #end_date.input-group.date(data-target-input='nearest')
                                input.form-control.datetimepicker-input(type='text', data-target='#end_date' name='end_date' disabled value=moment(event.end_date).format('MM/DD/YYYY LT'))
                                .input-group-append(data-target='#end_date', data-toggle='datetimepicker')
                                .input-group-text
                                    i.fa.fa-calendar
                    .form-group
                        label(for='category') 
                            strong Category
                        select#category.form-control(name='color' disabled)
                            - color = [{ key: '#2979FF', label:'Appointment'},{ key: '#4CAF50', label:'Fun'},{ key: '#FFCA28', label:'Work'},{ key: '#F44336', label:'Study'},{ key: '#009688', label:'Other'}];
                            - each item in color
                                option(selected=event.color == item.key) #{item.label}
                    .form-group
                        label(for='owner') 
                            strong Owner
                        #owner.alert.alert-primary= event.user
                    .form-group
                        label 
                            strong Members
                        .row
                            - each member in event.members
                                .col-sm-6
                                    if member.accepted==true
                                        .alert.alert-success= member.email
                                    else
                                        .alert.alert-dark= member.email
                        
        .modal-footer
            button.btn.btn-secondary(type='button', data-dismiss='modal') Close
