extends ../layout

block content
    .main.container
        .row
            .col-sm-6
                p
                a.btn.btn-success(href='groups/new')
                    i.fa.fa-plus(style='color:white;')
                    |  New group event
                p
        .row
            .col-sm-6
                .card
                    .card-header.bg-primary.text-white
                            h5.cardtitle My Group Events
                    .card-body
                        table.table.col-md-12
                            tbody
                                if mygroupevents.length==0
                                    tr
                                        td No group events.
                                - each mygroupevent, i in mygroupevents
                                    tr
                                        td.col-sm-6.clickable(data-id="#{mygroupevent._id}")= mygroupevent.text
                                        td.col-sm-2
                                            a(href="groups/#{mygroupevent._id}")
                                                i.fa.fa-edit(style='color:blue')
                                        td.col-sm-2
                                            form(action='/groups/#{mygroupevent._id}',method='POST')
                                                input(type='hidden',value='DELETE',name='_method')
                                                button.btn-icon(type='submit')
                                                    i.fa.fa-trash(style='color:red')
            .col-sm-6
                .card
                    .card-header.bg-secondary.text-white
                            h5.cardtitle Group events by others
                    .card-body
                        table.table.col-md-12
                            h5 Pending group events
                            tbody
                                if pendinggroupevents.length==0
                                    tr
                                        td No new invitations.
                                - each pendinggroupevent, i in pendinggroupevents
                                    tr
                                        td.col-sm-8.clickable(data-id="#{pendinggroupevent._id}")= pendinggroupevent.text
                                        td.col-sm-2
                                            form(action='/groups/#{pendinggroupevent._id}/members',method='POST')
                                                input(type='hidden',value='PUT',name='_method')
                                                input(type='hidden',value='true',name='accepted')
                                                button.btn-icon(type='submit')
                                                    i.fa.fa-check(style='color:green')
                                        td.col-sm-2
                                            form(action='/groups/#{pendinggroupevent._id}/members',method='POST')
                                                input(type='hidden',value='PUT',name='_method')
                                                input(type='hidden',value='false',name='accepted')
                                                button.btn-icon(type='submit')
                                                    i.fa.fa-remove(style='color:red')
                        table.table.col-md-12
                            h5 Accepted group events
                            tbody
                                if groupevents.length==0
                                    tr
                                        td No accepted group events.
                                - each groupevent, i in groupevents
                                    tr
                                        td.col-sm-8.clickable(data-id="#{groupevent._id}")= groupevent.text
                                        td.col-sm-2
                                            form(action='/groups/#{groupevent._id}/members',method='POST')
                                                input(type='hidden',value='PUT',name='_method')
                                                input(type='hidden',value='false',name='accepted')
                                                button.btn-icon(type='submit')
                                                    i.fa.fa-trash(style='color:red')
    #divModal
    script.
        $(function () {
            $('.clickable').click(function(){
                showInfo($(this).data("id"));
            })
        });
        function showInfo(id){
            $.ajax({
                type: "GET",
                url: "/groups/info/"+id
            }).done(function(data) {
                $("#divModal").html(data);
                $("#infoModal").modal("show");
            });
        }

    