extends ../layout

block content
  .main.container
    .row
      .col-md-12
        h1.display-4.m-b-2 New group event
        p
    form.form-horizontal(method='POST' action='/groups/new')
      .row
        .col-md-6.col-md-offset-3
          if errors
            - each error, i in errors
              p.alert.alert-danger= error.msg
          .form-group
            label(for='text') Group event title:
            input#text.form-control(type='text', placeholder='Amazing group event' name='text' required value=(old?old.text:''))
          .row
            .col-md-6.form-group
              label(for='start_date') Start time:
              #start_date.input-group.date(data-target-input='nearest')
                input.form-control.datetimepicker-input(type='text', data-target='#start_date' name='start_date' required value=(old?old.start_date:''))
                .input-group-append(data-target='#start_date', data-toggle='datetimepicker')
                  .input-group-text
                    i.fa.fa-calendar
            .col-md-6.form-group
              label(for='end_date') End time:
              #end_date.input-group.date(data-target-input='nearest')
                input.form-control.datetimepicker-input(type='text', data-target='#end_date' name='end_date' required value=(old?old.end_date:''))
                .input-group-append(data-target='#end_date', data-toggle='datetimepicker')
                  .input-group-text
                    i.fa.fa-calendar
          .form-group
            label(for='category') Category:
            select#category.form-control(name='color')
              option(value='#2979FF') Appointment
              option(value='#4CAF50') Fun
              option(value='#FFCA28') Work
              option(value='#F44336') Study
              option(value='#009688') Other
          button.btn.btn-primary(type='submit') Create event
          a.mx-2.btn.btn-secondary(href='/groups') Cancel
        .col-md-6.col-md-offset-3
          .form-group
            label Members:
            #added-members
            .input-group
                input#email.form-control(type='text', placeholder="Enter user e-mail")
                input#members(name='members' hidden)
                .input-group-append
                  button.btn.btn-outline-secondary(type='button' onclick='checkUser()') Add user
            p
            if error_msg!=''
              #no-members-alert.alert.alert-danger.alert-dismissible.fade.show(role='alert')= error_msg
                button.close(type='button', data-dismiss='alert', aria-label='Close')
                  span(aria-hidden='true') ×

  script(type='text/javascript').
    var members=[];
    $(function () {
      //DatePickers
      $('#start_date').datetimepicker();
      $('#end_date').datetimepicker({
        useCurrent: false
      });
      $("#start_date").on("change.datetimepicker", function (e) {
        $('#end_date').datetimepicker('minDate', e.date);
      });
      $("#end_date").on("change.datetimepicker", function (e) {
        $('#start_date').datetimepicker('maxDate', e.date);
      });
      //Email input
      setTimeout(function(){ $('#no-members-alert').alert('close') },2000);
      $('#email').on("input", function(){
        $('#email').css("border", "1px solid #ced4da");
      });
      $('#members').val(JSON.stringify(members));
    });
    //Member e-mail validation
    function checkUser(){
      var email = $('#email').val();
      $.ajax({
          type: "GET",
          url: "/groups/check",
          data: {email:email}
      }).done(function(valid) {
        if(valid){//Member validated
          if(members.indexOf(email)==-1){
            members.push(email);
            $('#members').val(JSON.stringify(members));
            $("#added-members").append(getEmailHTML(email));
            $("#email").val('');
          }
          else
            $('#email').css("border", "1px solid red");
        }
        else{//No such user
          $('#email').css("border", "1px solid red");
        }
      });
    }
    function getEmailHTML(email){
      var html='<div class="alert alert-dark alert-dismissible fade show" role="alert">'+email;
      html+='<button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="closed(\''+email+'\');">';
      html+='<span aria-hidden="true">&times;</span>';
      html+='</button>';
      html+='</div>';
      return html;
    }
    function closed(email){
      var index = members.indexOf(email);
      members.splice(index, 1);
      console.log(members);
      $('#members').val(JSON.stringify(members));
    }
  
