<!-- Modal -->
#editModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='editModal', aria-hidden='true')
  .modal-dialog.modal-dialog-centered(role='document')
    .modal-content
        .modal-header.bg-primary.text-white
            h5.modal-title Edit task
        form(id='editform' method='POST' action='/todo/#{task._id}')
            .modal-body
                    div.input-group
                        input(type='hidden',value='PUT',name='_method')
                        input#text.form-control(type='text' name='text' value=task.text)
            .modal-footer
                button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                button.btn.btn-primary(type='submit') Save changes
