extends ../layout

block content  
    .main.container
        .row
            .col-sm-6
                p
                h1 To-Do List
                if success_msg!=''
                    p.alert.alert-success= success_msg
                if error_msg!=''
                    p.alert.alert-danger= error_msg
                form(method='POST' action='/todo/new')
                    div.input-group
                        input.form-control(type='text' id='task' placeholder='Add new task...' name='task' required)
                        .input-group-append
                            button.btn.btn-primary(type='submit') Add task
                p
        p
        .row
            .col-sm-6
                .card
                    .card-header.bg-primary.text-white
                            h5.cardtitle To-Do tasks
                    .card-body
                        table.table.col-md-12
                            tbody
                                if todos.length==0
                                    tr
                                        td No tasks. Start adding some...
                                - each todo, i in todos
                                    tr
                                        td.col-sm-6= todo.text
                                        td.col-sm-2
                                            form(action='/todo/#{todo._id}',method='POST')
                                                input(type='hidden',value='PUT',name='_method')
                                                input(type='hidden',value='true',name='completed')
                                                button.btn-icon(type='submit')
                                                    i.fa.fa-check-square(style='color:green')
                                        td.col-sm-2
                                            button.btn-icon(type='button' onclick="showEditModal('#{todo._id}');")
                                                i.fa.fa-edit(style='color:blue')
                                        td.col-sm-2
                                            form(action='/todo/#{todo._id}',method='POST')
                                                input(type='hidden',value='DELETE',name='_method')
                                                button.btn-icon(type='submit')
                                                    i.fa.fa-trash(style='color:red')
            .col-sm-6
                .card
                    .card-header.bg-secondary.text-white
                            h5.cardtitle Completed tasks
                    .card-body
                        table.table.col-md-12
                            tbody
                                if completed.length==0
                                    tr
                                        td No finished tasks yet.
                                - each task, i in completed
                                    tr
                                        td.col-sm-8.completed= task.text
                                        td.col-sm-2
                                            form(action='/todo/#{task._id}',method='POST')
                                                input(type='hidden',value='PUT',name='_method')
                                                input(type='hidden',value='false',name='completed')
                                                button.btn-icon(type='submit')
                                                    i.fa.fa-undo(style='color:blue')
                                        td.col-sm-2
                                            form(action='/todo/#{task._id}',method='POST')
                                                input(type='hidden',value='DELETE',name='_method')
                                                button.btn-icon(type='submit')
                                                    i.fa.fa-trash(style='color:red')
    #divModal
    script.
        function showEditModal(id){
            $.ajax({
                type: "GET",
                url: "/todo/"+id
            }).done(function(data) {
                $("#divModal").html(data);
                $("#editModal").modal("show");
            });
        }