extends ../layout-users

block content
  script.
    function updateSelectSmjer() {
      var selectStudij = document.getElementById('studij_select');
      var selectSmjer = document.getElementById('smjer_select');

      selectSmjer.options.length = 0;
      var index = selectStudij.selectedIndex-1;
      var data = JSON.parse('!{JSON.stringify(studiji)}');
      for(var i=0; i<data[index].smjerovi.length; i++){
        var option = document.createElement("option");
        option.value = i;
        option.innerHTML = data[index].smjerovi[i].naziv;
        selectSmjer.options.add(option);
      };
    }
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 Registracija
      
        // register form
        form(method='POST' action='/users/register')
          if errors
            - each error, i in errors
              p.alert.alert-danger= error.msg
          div.form-group
            label(for='name') Ime:
            if name
              input#name.form-control(type='text', placeholder='Ime i prezime' name='name' value=name required)
            else
              input#name.form-control(type='text', placeholder='Ime i prezime' name='name' required)
          div.form-group
            label(for='email') Email:
            if email
              input#email.form-control(type='email', placeholder='name@domain.com' name='email' value=email required)
            else
              input#email.form-control(type='email', placeholder='name@domain.com' name='email' required)
          div.form-group
            label(for='pw') Lozinka:
            input#pw.form-control(type='password' name='password' required)
          div.form-group
            label(for='pw2') Potvrdi lozinku:
            input#pw2.form-control(type='password' name='confirmPassword' required)
          div.form-group
            label(for='studij_select') Odaberi studij:
            select#studij_select.form-control(name='studij' onchange='updateSelectSmjer()')
              option(selected, disabled, hidden) Odaberi studij...
              - each studij, i in studiji
                  option(value=i) #{studij.naziv}
          div.form-group
            label(for='smjer_select') Odaberi smjer:
            select#smjer_select.form-control(name='smjer')
              option(selected, disabled, hidden) Odaberi smjer...
          button.btn.btn-primary(type='submit') Registriraj se